.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1em;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.description {
    font-size: 0.85rem;
    text-align: center;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
}

.description a {
    text-decoration: underline;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.langContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    margin-left: 1.2em;
}

.langButton {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
}

.active {
    color: #007bff;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 20px;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 400px;
    overflow: auto;
}

.message {
    padding: 1em;
    max-width: 70%;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    line-height: 1.5em;
}

.message p {
    margin: 0.4em;
}

.message a {
    text-decoration: underline;
    color: white;
}

.bot {
    background-color: #007bff;
    align-self: flex-start;
    text-align: left;
    border-bottom-left-radius: 0;
}

.user {
    background-color: rgb(100 116 139);
    align-self: flex-end;
    text-align: right;
    border-bottom-right-radius: 0;
}

/* Apply border to all the table */
.message table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
}

.message td {
    border: 1px solid white;
    padding: 0.5em;
}

.message th {
    border: 1px solid white;
    padding: 0.5em;
    background-color: #007bff;
    color: white;
}

.icon {
    font-size: 13px;
    height: 13px;
    width: 13px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--font-mono);
    color: black;
}

.loadingDot {
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.suggestedMessages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
}

.suggestedMessage {
    padding: 0.6em;
    max-width: 30%;
    color: black;
    background-color: lightsteelblue;
    border-radius: 20px;
    font-size: 12px;
    line-height: 1.5em;
    cursor: pointer;
}

.formSend {
    display: flex;
    align-items: center;
}

.inputSend {
    flex: 1;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    font-size: 12px;
}

.buttonSend {
    padding: 0.5em 2em;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
}