.main {
  max-width: 520px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}